<!DOCTYPE html>
<html lang="{{ site.lang | default: "en"}}">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        {% seo %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans">
        <link rel="stylesheet" href="https://unpkg.com/basscss@8.1.0/css/basscss.min.css">
        <link rel="stylesheet" href="/assets/css/gl-fork-ribbon.css"> 

        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    </head>

    <body>

        <a class="gitlab-fork-ribbon" href="https://gitlab.com/marukusushugi-toshokan/marukusushugi-toshokan.gitlab.io" data-ribbon="Fork me on GitLab" title="Fork me on GitLab">Fork me on GitLab</a>

        <div class="max-width-3 mx-auto">
            <div class="clearfix">
                <div class="col col-2">
                    <img class="fit" src="{{ '/assets/img/logo.png' | relative_url}}" alt="{{ site.name }}">
                </div>
                <div class="col col-6">
                    <h1>
                        <a href="{{ '/' | relative_url }}" class="site-title">
                            {{ site.title }}
                        </a>
                    </h1>
                </div>

                <div class="col col-6">
                    <ul class="list-reset right-align">
                        {% for entry in site.data.navigation %}
                            <li class="inline-block mr1">
                                <a href="{{ entry.url | header_link }}" class="navigation-item">
                                    {{ entry.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="border-top">
                {{ content }}
            </div>
        </div>
    </body>
</html>
